.user-menu-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #7E6955;
    width: 80%;
}

.user-menu-link {
    padding: 0.35em;
    font-weight: 600;
    font-size: 24px;
    color: #ffffff;
}

.user-menu-link:hover {
    color: #9FCCE5;
}