.main-header {
    height: 12vh;
}

.main-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-menu {
    width: 22.22vw;
}

.content-container {
    width: 55.55vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.right-container {
    width: 22.22vw;
    align-self: flex-end;
}