body {
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brown-background{
  background: #4A3737;
}

.brown{
  color: #4A3737;
}

.light-blue{
  background: #9FCCE5;
}

.background-gray{
  background: #f1efec;
}

.yellow{
  background: #E9B600;
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}

.alert-orange{
  background: #FF5C00;
}

.gray{
  background: #F6F5F2;
}

.turquoise{
  color: #05BAAF;
}

.lighter-blue {
  background: #CAECFF;
}

.letters-dark-gray {
  background: #5E6472;
}

.redirect-font-color {
  color: #FFFFFF;
}

