@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'), url(./fonts/Montserrat/Montserrat-Bold.ttf) format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'), url(./fonts/Montserrat/Montserrat-Regular.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'), url(./fonts/Montserrat/Montserrat-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-LightItalic'), url(./fonts/Montserrat/Montserrat-LightItalic.ttf) format('truetype'); 
  font-style: italic;
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Light'), url(./fonts/Montserrat/Montserrat-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Italic'), url(./fonts/Montserrat/Montserrat-Italic.ttf) format('truetype');
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'), url(./fonts/Montserrat/Montserrat-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

body {
  background-color: #F1EFEC;
  margin: 0;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.logo {
  font-weight: 500;
}

a {
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.brown-background{
  background: #4A3737;
}

.brown{
  color: #4A3737;
}

.light-blue{
  background: #9FCCE5;
}

.background-gray{
  background: #f1efec;
}

.yellow{
  background: #E9B600;

}

.alert-orange{
  background: #FF5C00;
}

.gray{
  background: #F6F5F2;
}

.turquoise{
  color: #05BAAF;
}

.lighter-blue {
  background: #CAECFF;
}

.letters-dark-gray {
  background: #5E6472;
}

.redirect-font-color {
  color: #FFFFFF;
}

.shadow {
  text-shadow: -1px 0 #333, 0 1px #333, 1px 0 #333, 0 -1px #333;
}

