body {
    margin: 0;
}

.outer-box {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    border-radius: 2.5em;
    width: 481px;
    height: 386px;
    left: 442px;
    top: 120px;
    padding: 2em;
}

.additional-info {
    display: flex;
    flex-direction: row;
    align-self: center;
    /* align-content: center; */
}

.inner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.inner-box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.inner-box form input {
    background: #FFFFFF;
    height: 2em;
    border: 0;
    border-radius: 0.4em;
    margin: 0.5em;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    text-align: center;
    font-size: 24px;
}

.inner-box h1 {
    align-self: center;
}

.inner-box h4 {
    color: #db0000;
    margin: 0;
    align-self: center;
}

.inner-box button {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    /*line-height: 1.2em;*/
    width: 50%;
    height: 1.45em;
    align-self: center;
    color: #FFFFFF;
    outline: 0;
    border: 0;
    box-shadow: 0 0.14em 0.14em rgba(0, 0, 0, 0.25);
    border-radius: 0.38em;
    margin: 1em;
    cursor: pointer;
}

::-webkit-input-placeholder {
    text-align: center;
    color: rgba(0,0,0,0.4);
    font-size: 24px;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
    color: rgba(0,0,0,0.4);
    font-size: 24px;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
    color: rgba(0,0,0,0.4);
    font-size: 24px;
}

:-ms-input-placeholder {
    text-align: center;
    color: rgba(0,0,0,0.4);
    font-size: 24px;
}